	/*
  	Flaticon2 icon font: Flaticon2
  	Creation date: 21/11/2016 12:12
  	*/

    @font-face {
        font-family: "Flaticon2";
        src: url("../fonts/flaticon2/Flaticon.eot");
        src: url("../fonts/flaticon2/Flaticon.eot?#iefix") format("embedded-opentype"),
        url("../fonts/flaticon2/Flaticon.woff") format("woff"),
        url("../fonts/flaticon2/Flaticon.ttf") format("truetype"),
        url("../fonts/flaticon2/Flaticon.svg#Flaticon2") format("svg");
        font-weight: normal;
        font-style: normal;
    }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon2";
      src: url("../fonts/flaticon2/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    display: inline;
    font-family: "Flaticon2";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

    .flaticon-001-website:before { content: "\f100"; }
    .flaticon-002-hosting-11:before { content: "\f101"; }
    .flaticon-003-cloud-3:before { content: "\f102"; }
    .flaticon-004-folder-2:before { content: "\f103"; }
    .flaticon-005-support:before { content: "\f104"; }
    .flaticon-006-hosting-10:before { content: "\f105"; }
    .flaticon-007-hosting-9:before { content: "\f106"; }
    .flaticon-008-hosting-8:before { content: "\f107"; }
    .flaticon-009-maintenance:before { content: "\f108"; }
    .flaticon-010-hosting-7:before { content: "\f109"; }
    .flaticon-011-data:before { content: "\f10a"; }
    .flaticon-012-hosting-6:before { content: "\f10b"; }
    .flaticon-013-monitoring:before { content: "\f10c"; }
    .flaticon-014-hosting-5:before { content: "\f10d"; }
    .flaticon-015-growth-1:before { content: "\f10e"; }
    .flaticon-016-hosting-4:before { content: "\f10f"; }
    .flaticon-017-computer:before { content: "\f110"; }
    .flaticon-018-hosting-3:before { content: "\f111"; }
    .flaticon-019-hosting-2:before { content: "\f112"; }
    .flaticon-020-growth:before { content: "\f113"; }
    .flaticon-021-global:before { content: "\f114"; }
    .flaticon-022-hosting-1:before { content: "\f115"; }
    .flaticon-023-search:before { content: "\f116"; }
    .flaticon-024-rocket:before { content: "\f117"; }
    .flaticon-025-control:before { content: "\f118"; }
    .flaticon-026-folder-1:before { content: "\f119"; }
    .flaticon-027-discount:before { content: "\f11a"; }
    .flaticon-028-folder:before { content: "\f11b"; }
    .flaticon-029-file:before { content: "\f11c"; }
    .flaticon-030-cloud-2:before { content: "\f11d"; }
    .flaticon-031-cloud-1:before { content: "\f11e"; }
    .flaticon-032-cloud:before { content: "\f11f"; }
    .flaticon-033-hosting:before { content: "\f120"; }
    .flaticon-034-buy:before { content: "\f121"; }
    .flaticon-035-bug:before { content: "\f122"; }
    .flaticon-036-server:before { content: "\f123"; }